<div (window:resize)="onResize($event)" class="toolbar" role="banner">

  <span id="welcome">Welcome to ZoltBits Speaks</span>
    <div class="spacer"></div>
    <button class="btn btn-primary" (click)="initializeCloudAction($event)">Logs</button>
    <button class="btn btn-primary" (click)="initializeCloudAction($event)">Agent</button> 
    <button class="btn btn-primary" (click)="initializeCloudAction($event)">Synthetics</button> 
    <!--button (click)="moveCloud()">
      Move that cloud!
    </button-->
</div>
<canvas #canvasEl id="canvasEl"></canvas>
<div class="grid-container">
  <div class="zoltbits">
    <img src="assets/zoltbits_clean.png">
  </div>
</div>
<div id="quoteCloud" [ngStyle]=cloudProps>
  <img id="cloudTwo" src="assets/opaque-cloud.png">
  <p #quoteText id="quoteText" [textContent]="'This is a longer quote here. Haha haha haha testing testing testing hahahaha.  Wowie what a quote.'"></p>
</div>

<router-outlet></router-outlet>
